<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ajouter une Analyse</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 min-h-screen flex flex-col">
    <header
      class="bg-white shadow-md py-4 px-8 flex justify-between items-center"
    >
      <h1 class="text-2xl font-bold text-blue-600">Ajouter une Analyse</h1>
      <a
        href="{{ url_for('dossier_medical_laborantin', dossier_id=dossier_id) }}"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition"
      >
        Retour au Dashboard</a
      >
    </header>

    <main class="flex-1 p-8">
      <div class="bg-white shadow-md rounded-lg p-6">
        <form method="POST">
          <div class="mb-4">
            <label for="type" class="block text-gray-700 font-medium"
              >Type d'Analyse</label
            >
            <input
              type="text"
              id="type"
              name="type"
              class="w-full p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <div class="mb-4">
            <label for="valeur" class="block text-gray-700 font-medium"
              >Valeur</label
            >
            <input
              type="text"
              id="valeur"
              name="valeur"
              class="w-full p-3 rounded border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <button
            type="submit"
            class="w-full bg-green-600 text-white py-3 rounded-lg hover:bg-green-700 transition duration-300"
          >
            Ajouter Analyse
          </button>
        </form>
      </div>
    </main>

    <footer class="bg-white shadow-md py-4 text-center text-sm text-gray-400">
      &copy; 2025 MediCrypt. Tous droits réservés.
    </footer>
  </body>
</html>
